<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="learnSpring" class="org.springframework.learn.impl.LearnSpringImplConstructor">
		<constructor-arg name="name" value="abc"/>
	</bean>

	<bean class="org.springframework.learn.processor.SelfBeanPostProcessor" />

    <bean class="org.springframework.learn.processor.SelfBeanFactoryPostProcessor" />

<!--	<beans>-->
<!--		<bean id="learnSpring" class="org.springframework.learn.impl.LearnSpringImpl">-->
<!--			<property name="age" value="28"/>-->
<!--		</bean>-->
<!--	</beans>-->

</beans>